  
{% extends "layout.html" %}
{% block content %}
<h1 style="text-align:center;">Business Review Database<br>Web Application</h1>
<br><br>

<button type="button" onclick="window.location.href = '/user';">Users</button>
<button type="button" onclick="window.location.href = '/business';">Businesses</button>
<button type="button" onclick="window.location.href = '/checkins';">Checkins</button>
<button type="button" onclick="window.location.href = '/reviews';">Reviews</button>

<br><br><br><br>

<button type="button" onclick="window.location.href = '/q1';">Query 1</button>
<button type="button" onclick="window.location.href = '/q2';">Query 2</button>
<button type="button" onclick="window.location.href = '/q3';">Query 3</button>
<button type="button" onclick="window.location.href = '/q4';">Query 4</button>
<button type="button" onclick="window.location.href = '/q5';">Query 5</button>
<button type="button" onclick="window.location.href = '/q6';">Query 6</button>
<button type="button" onclick="window.location.href = '/q7';">Query 7</button>
<button type="button" onclick="window.location.href = '/q8';">Query 8</button>
<button type="button" onclick="window.location.href = '/q9';">Query 9</button>
<button type="button" onclick="window.location.href = '/q10';">Query 10</button>

<br><br><br><br>

<h1>Query Script Executor</h1>

<br><br>

<button type="button" onclick="window.location.href = '/SELECT';">SELECT</button>
<button type="button" onclick="window.location.href = '/FROM';">FROM</button>
<button type="button" onclick="window.location.href = '/WHERE';">WHERE</button>

{% endblock %}